<html>

<head>
  <title>Credits</title>
  <style>
    body {
      font-family: sans-serif;
    }
  </style>
</head>

<body>
  <div style="height: 100%;width: 100%;">
    <h1 style="text-align:center;position:relative;top:45%"><%= voiceBy %> <%= username %></h1>
  </div>

</body>

</html>